{% extends 'base.html' %}

{% block content %}
  <div class="container">
    {% if module %}
      <h1>Edit Module</h1>
    {% else %}
      <h1>New Module</h1>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="serial_number">Serial Number:</label>
        <input type="text" name="serial_number" class="form-control" id="serial_number" required {% if module %}value="{{ module.serial_number }}"{% endif %}>
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" class="form-control" id="name" required {% if module %}value="{{ module.name }}"{% endif %}>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea name="description" class="form-control" id="description" rows="3" required>{% if module %}{{ module.description }}{% endif %}</textarea>
      </div>
      <br/>
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="{% url 'module_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
{% endblock %}
