{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>List of Modules</h1>
    <a href="{% url 'module_create' %}" class="btn btn-primary mb-3">Create Module</a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Serial Number</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for module in modules %}
          <tr>
            <th scope="row">{{ module.id }}</th>
            <td>{{ module.serial_number }}</td>
            <td>{{ module.name }}</td>
            <td>{{ module.description }}</td>
            <td>
              <a href="{% url 'module_update' module.pk %}" class="btn btn-sm btn-warning mr-2">Edit</a>
              <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal{{ module.pk }}">Delete</button>
              <!-- Modal -->
              <div class="modal fade" id="deleteModal{{ module.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ module.pk }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel{{ module.pk }}">Confirm delete</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to delete the module "{{ module.name }}"?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <form action="{% url 'module_delete' module.pk %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">No modules found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
